<template>
  <div class="Home">
    <v-main>
      <HelloWorld />
    </v-main>
  </div>
</template>

<script>
import HelloWorld from '../components/HelloWorld'

export default {
  components: {
    HelloWorld
  }
}
</script>
