<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>
            <v-row>
              <v-col cols="3" xs="12">
                <v-text-field
                  v-model="keyword"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                  outlined
                  @keyup="debounceFetchOrder"
                />
              </v-col>
              <v-col cols="3" xs="12">
                <date-picker
                  @dates="onSelectedDate"
                />
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-title>
            Total Amount :<span class="font-weight-bold"> {{ totalAmount | dollarSign(false) }}</span>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="datas.items"
              :search="keyword"
              :items-per-page="pagingOptions.itemsPerPage"
              :server-items-length="datas.total_records"
              :options.sync="pagingOptions"
              @update:options="onSwitchPage"
              @update:items-per-page="onItemChange"
            >
              <template #item="{ item }">
                <tr>
                  <td>{{ item.order_name }}</td>
                  <td>{{ item.customer_company }}</td>
                  <td>{{ item.customer_name }}</td>
                  <td>{{ item.create_at | toLocalTz}}</td>
                  <td class="text-right">{{ item.delivered_amount | dollarSign(true) }}</td>
                  <td class="text-right">{{ item.total_amount | dollarSign }}</td>
                </tr>
              </template> 
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import debounce from 'lodash.debounce'
import { DateTime } from 'luxon'
import DatePicker from '../components/DatePicker.vue'
  export default {
    components: {
      DatePicker
    },
    
    filters: {
      dollarSign (v, replaceZero) {
        if (!v && replaceZero) return '-'
        
        var formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
            currency: 'USD'
        });
        return `${formatter.format(v)}`
      },

      toLocalTz(d) {
        // previously it made with timezone aware, the time will following user current timezone
        // now harcoded to Australia/Melbourne
        return DateTime.fromISO(d).setZone('Australia/Melbourne').toFormat('dd/LL/yyyy tt')
      }
    },

    data () {
      return {
        keyword: '',
        headers: [
          { text: 'Order Name', value: 'order_name', sortable: false },
          { text: 'Customer Company', value: 'customer_company', sortable: false },
          { text: 'Customer Name', value: 'customer_name', sortable: false },
          { text: 'Order Date', value: 'create_at', sortable: false },
          { text: 'Delivered Amount', value: 'delivered_amount', sortable: false },
          { text: 'Total Amount', value: 'total_amount', sortable: false },
        ],
        datas: {
          items: [],
          total_records: 0
        },
        pagingOptions: {
          itemsPerPage: 5,
          page: 1
        },
        dates: {
          startDate: null,
          endDate: null
        },
        pagination: {},
      }
    },

    computed: {
      totalAmount() {
        return this.datas.items.reduce((r, e) => r+Number(e.total_amount), 0)
      }
    },

    methods: {
      onSelectedDate(v) {
        this.dates = v
        this.debounceFetchOrder()
      },
      
      onSwitchPage(v) {
        this.pagingOptions.page = v.page
        this.debounceFetchOrder()
      },

      onItemChange(v) {
        this.pagingOptions.itemsPerPage = v
        this.debounceFetchOrder()
      },

      debounceFetchOrder: debounce(function() {
        this.fetchOrder()
      }, 300),

      fetchOrder() {
        let params = {
          keyword: this.keyword,
          start_date: this.dates.startDate,
          end_date: this.dates.endDate,
          skip: (this.pagingOptions.page - 1) * this.pagingOptions.itemsPerPage,
          limit: this.pagingOptions.itemsPerPage,
        }

        this.$axios.get('/orders', { params })
          .then(({ data }) => {
            this.datas.items = (data.records || []).reduce((r, e) => {
              let mod = {
                order_name: e.order_name,
                customer_name: e.customer.name,
                customer_company: e.customer.company.name,
                create_at: e.create_at,
                delivered_amount: e.order_items.reduce((res, el) => {
                  let total_deliveries = (el.deliveries || []).reduce((tot, del) => tot + del.delivered_quantity, 0)
                  res.push(total_deliveries*el.price_per_unit)
                  
                  return res
                }, []).reduce((amount, el) => amount + el, 0),
                total_amount: e.order_items.map(x => x.price_per_unit * x.quantity).reduce((r, x) => r + x, 0)
              }
              r.push(mod)

              return r
            }, [])

            this.datas.total_records = data.total_records
          })
      }
        
    }
  }
</script>