<template>
  <v-app-bar class="elevation-1" app>
    <v-app-bar-title>Test</v-app-bar-title>
  </v-app-bar>
</template>

<script>

export default {
  name: 'AppBar',
  data(){
    return {}
  },
}
</script>