<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="dates"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
          v-model="rangedDate"
          label="Date range"
          readonly
          v-bind="attrs"
          v-on="on"
          outlined
      />
    </template>
    <v-date-picker
      v-model="dates"
      no-title
      scrollable
      range
    >
      <v-spacer/>
      <v-btn
          text
          color="primary"
          @click="menu = false"
      >
          Cancel
      </v-btn>
      <v-btn
          text
          color="primary"
          @click="saveDate"
      >
          OK
      </v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
import { DateTime } from 'luxon'
export default {
  data() {
    return {
        dates: null,
        menu: false
    }
  },
  computed: {
    rangedDate() {
        if (this.dates) {
          return this.dates.join(' - ')
        }
        return null
    }
  },
  methods: {
    saveDate() {
      this.$refs.menu.save(this.dates)
      const dates = {
        startDate: DateTime.fromISO(this.dates[0]).startOf('day').setZone('UTC').toISO(),
        endDate: DateTime.fromISO(this.dates[1]).endOf('day').setZone('UTC').toISO()
      }
      this.$emit('dates', dates)
    },
    
  }
}
</script>