<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Packform test
        </h1>
        <v-btn color="primary" @click="$router.push('/orders')">GO TO ORDER</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld'
}
</script>
